<h1 class="page-title">Listings Board</h1>

<!-- Filter by tag -->
<span>Filter by Tags:</span>
	<i class="fa fa-tags" aria-hidden="true"></i><a class="tag" href="/listings?tag_id=show_all">Show All</a>
<% @tags.each do |tag| %>
  <i class="fa fa-tags" aria-hidden="true"></i><a class="tag" href="/listings?tag_id=<%= tag.id %>"> <%= tag.name %></a>  
<% end %>	
<br>

<script>
	$('.tag').on("click", function(event){
		console.log($(event.target).text())
	})
	$('select').on("change", function(event){
		console.log($(event.target).val());
	})
</script>



<!-- HTML section -->
<div class="container">
  <div class="row">
    <% @listings.each do |listing | %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="<%= listing.image %>" alt="">
          <div class="card-body">
            <h4 class="card-title">
              <a href="/listings/<%=listing.id %>"><%= listing.title %></a>
            </h4>
            <h5>$<%= listing.price %></h5>
            
            <p class="card-text">
              <%=listing.description %>
            </p>
          
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>

            <% listing.tags.each do |tag| %>
              <div><i class="fa fa-tags" aria-hidden="true"></i>
                <%=tag.name %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>

      <% session[:return_to]='/listings' %>

  </div>
  <!-- /.row -->
</div>
<!-- /container -->

