<h1>SHOWING ALL LISTINGS</h1>

<!-- Filter by tag -->
<% @tags.each do |tag| %>
	<a href="/listings?tag_id=<%= tag.id %> "><%= tag.name %></a>
<% end %>	
<br>


<!-- ajax call -->
	<!-- listen for click on option, capture option's value -->
	<!-- onclick, addclass "show" selected tag -->
<script>
	$('select').on("change", function(event){
		console.log($(event.target).val());
		// @listings = Listing.last; 
	})
</script>


<!-- HTML section -->
<% @listings.each do |listing | %>
  <a href="/listings/<%=listing.id %>"><%= listing.title %></a>
  <div>Price ($): <%= listing.price %></div>
  <div>Created By: <%= listing.creator.name %></div>
 

	<% listing.tags.each do |tag| %>
		<div> Tagged as: <%= tag.name %> </div>
	<% end %>

<% end %>

<% session[:return_to] = '/listings' %>
