<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 400px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <h3><%= @listing.creator.name %>'s listing:'</h3>
    <h2><%= @listing.title %></h2>
    <p>Price: <%= @listing.price %></p>
    <p><%= @listing.full_street_address %></p>
    <p><%= @date %></p>
    <p>Image url would go here:</p><img src="<%= @listing.image %>">
    <button>I'm interested in helping</button>

<!-- ajax or form? -->
<!-- reduce num helpers needed by one -->

    <button id='will-help-btn'>I'll Help!</button>


    <script>
      var map;
      function initMap() {
        var moving_location = {lat: <%= @listing.latitude %>, lng: <%= @listing.longitude %>}
        map = new google.maps.Map(document.getElementById('map'), {
          center: moving_location,
          zoom: 15
        });
        var marker = new google.maps.Marker({
         position: moving_location,
         map: map
       });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGyR8cc8zPWBK4F52J61Gu14HB0EYnQc0&callback=initMap">
    </script>
  </body>
</html>
