<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/api.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 400px;
      }
      /* Optional: Makes the sample page fill the window. */
      html {
        height: 100%;
        margin: 0;
      }

    </style>
  </head>
  <body>

<div class="page-wrapper">

<div class="row map">

  <div class="col-lg-8">
   <div id="map"></div>
  </div><!--/col-lg-8-->

    <div class=" col-lg-4">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4" scope="col"><%= @listing.creator.name %>'s listing:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Title</th>
              <td><%= @listing.title %> </td>
          </tr>
          <tr>
            <th scope="row">Price</th>
              <td>$<%= @listing.price %> </td>
          </tr>
          <tr>
            <th scope="row">Address</th>
              <td><%= @listing.full_street_address %> </td>
          </tr>
          <tr>
            <th scope="row">Date</th>
              <td><%= @listing.moving_date %> </td>
          </tr>

<!--           <tr>
            <th scope="row">Num Helpers Requested:</th>
              <td><%= @listing.num_helpers_needed %> </td>
          </tr> -->

          <tr>
            <th scope="row">Helpers still needed:</th>
              <td id="helpers_needed"><%= @still_needed %> </td>
          </tr>

        </tbody>
      </table>

      <div class="btn-container" style="width: 100%;">
          <% if !@thisUserListing && current_user.id != @listing.creator_id %>
            <div><button id="will-help-btn" type="button" class="btn btn-primary">I'll Help</button></div>
          <% end %>
          <div><button id="cal-api-btn" type="button" class="btn btn-secondary">Add Google Calendar</button></div>
      </div><!--/btn-container-->
    </div><!--/col-lg-4-->
  </div><!--/row-->
    <div class="helper-img">
      <h2 class="helper">Helpers</h2>
      <hr>
        <div class="userPics" >
          <% @users.each do |user| %>
            <img class="img-thumbnail rounded user-img userPic" src="<%=user.image.url %>" alt="">
          <% end %>
    </div>
  </div><!--row-->
</div><!-- /page-wrapper -->


    <script>
    //CALENDER API-------------------------

 // Client ID and API key from the Developer Console
    $('#cal-api-btn').on('click', function(event) {

      var CLIENT_ID = '563965008331-pn17v97cf0tj5m1qhhhefjqrt4knmaks.apps.googleusercontent.com';
                       // 563965008331-pn17v97cf0tj5m1qhhhefjqrt4knmaks.apps.googleusercontent.com

      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = "https://www.googleapis.com/auth/calendar";

      var authorizeButton = document.getElementById('cal-api-btn');
      //var signoutButton = document.getElementById('signout-button');

      /**
       *  On load, called to load the auth2 library and API client library.
       */

      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }


      function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
      }

      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          discoveryDocs: DISCOVERY_DOCS,
          clientId: CLIENT_ID,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);
          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
          authorizeButton.onclick = handleAuthClick;
          // signoutButton.onclick = handleSignoutClick;
        });
      }

      function updateSigninStatus(isSignedIn) {

          if (isSignedIn) {

            console.info('authorized')
            // authorizeButton.style.display = 'none';
            // signoutButton.style.display = 'block';
            // listUpcomingEvents();
            // var for api cal info
            // var apiCalInfo = {
            //   'summary': '<%= @listing.title %>',
            //   'moveDate': '<%= @listing.moving_date %>',
            //   'moveTime': '<%= @listing.moving_time %>',
            //   'creatorId': '<%= @listing.creator_id %>'
            // }

          var apiCalInfo = {
            'summary': '<%= @listing.title %>',
            'location': '<%= @listing.street %>',
            'description': 'A chance to hear more about Google\'s developer products.',
            'start': {
              'dateTime': '<%= @listing.moving_date.to_datetime.iso8601 %>',
              'timeZone': 'Australia/Melbourne'
            },
            'end': {
              'dateTime': '<%= @listing.moving_date.to_datetime.iso8601 %>',
              'timeZone': 'Australia/Melbourne'
            }
          };

              var request = gapi.client.calendar.events.insert({
                  'calendarId': 'primary',
                  'resource': apiCalInfo
              });


            request.execute(function(event) {
              // appendPre('Event created: ' + event.htmlLink);
              console.log(event);
            });

          } else {
            console.info('not authorised')
            // authorizeButton.style.display = 'block';
            // signoutButton.style.display = 'none';
          }
      }

          handleClientLoad()
         });

// AJAX CODE----------------------------

    $('#will-help-btn').on('click', function(event) {

      var token = $('meta[name="csrf-token"]').attr('content');
        event.preventDefault();
        $('#will-help-btn').css({"display": "none"})

        var options = {
          url: "/api/listings",
          method: 'post',
          data: {
            listing_id: <%= @listing.id %>
          }
        }
        var updateStillNeeded = function(response) {

          console.log(response.still_needed)
          var $still_needed = $('#helpers_needed')


          $still_needed.text(response.still_needed);

          $('.userPics').empty()
          response.users.forEach(function(user){
            $img = $('<img>')
            $div = $('<div>')
            $div.addClass('userPic')
            $img.attr('src', user.image.url)
            $div.append($img)
            $('.userPics').append($div)
          })
        }
        $.ajax(options).done(updateStillNeeded);
    });

  </script>

    <script>
      var map;
      function initMap() {
        var moving_location = {lat: <%= @listing.latitude %>, lng: <%= @listing.longitude %>}
        map = new google.maps.Map(document.getElementById('map'), {
          center: moving_location,
          zoom: 15
        });
        var marker = new google.maps.Marker({
         position: moving_location,
         map: map
       });
      }
    </script>

<!-- api scripts -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGyR8cc8zPWBK4F52J61Gu14HB0EYnQc0&callback=initMap">
    </script>

  </body>
</html>
      <!-- onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()"> -->
