<h1 class="page-title">My Listings</h1>
<div class="container">
  <div class="row">
    <% @my_listings.each do |listing | %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="<%= listing.image %>" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
                   <a href="/listings/<%=listing.id %>"><%= listing.title %></a>
                  </h4>
            <h5>$<%= listing.price %></h5>
            <p class="card-text">
              <%=listing.description %>
            </p>
          </div>
          <div class="card-footer">

            <% listing.tags.each do |tag| %>
              <div><i class="fa fa-tags" aria-hidden="true"></i>
                <%=tag.name %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
<!--Buttons-->

          <div class="container btn-container">
            <div class="OuterMostClass row">
              <div class="your-listing">
              <div class="outerClass col-xs-6">
                <a href="/listings/<%=listing.id %>/edit" class="btn btn-info btn-dark" role="button">EDIT</a>
              </div><!--outermost class col 6-->
              <div class="outerClass2 col-xs-6">
                <%= form_tag "/listings/#{listing.id}", method:"delete" do %>
              <button type="button" class="btn btn-info btn-dark delete">DELETE</button>
              </div><!--Outermost class col-6-->
            </div> <!-- .outermostclass ROW-->
          </div> <!--.btn-container-->
                <% end %>

      <% end %>
      </div>
        <% session[:return_to]='/listings' %>

  </div>
  <!-- /.row -->
</div>
<!-- /container -->

<div>
  <hr>
</div>

<h1 class="page-title">I am helping with</h1>
<div class="container">
  <div class="row">
    <% @listings_helping.each do |listing | %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="<%= listing.image %>" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
                   <a href="/listings/<%=listing.id %>"><%= listing.title %></a>
                  </h4>
            <h5>$<%= listing.price %></h5>
            <p class="card-text">
              <%=listing.description %>
            </p>
          </div>
          <div class="card-footer">

<<<<<<< HEAD
            <% listing.tags.each do |tag| %>
              <div><i class="fa fa-tags" aria-hidden="true"></i>
                <%=tag.name %>
              </div>
            <% end %>
=======
      <button id="delete-btn" >Delete</button>
>>>>>>> saving changes so that I can make pull request

          </div>
        </div>
      </div>
<!--Buttons-->

          <div class="container btn-container">
            <div class="OuterMostClass row">
              <div class="outerClass col-xs-6">
                <a href="/listings/<%=listing.id %>/edit" class="btn btn-info btn-dark" role="button">EDIT</a>
              </div><!--outermost class col 6-->
              <div class="outerClass2 col-xs-6">
                <%= form_tag "/listings/#{listing.id}", method:"delete" do %>
              <button type="button" class="btn btn-info btn-dark delete">DELETE</button>
              </div><!--Outermost class col-6-->
            </div> <!-- .outermostclass ROW-->
          </div> <!--.btn-container-->
                <% end %>

      <% end %>

        <% session[:return_to]='/listings' %>

  </div>
  <!-- /.row -->
</div>
<<<<<<< HEAD
<!-- /container -->
=======
<<<<<<< HEAD
<!-- /container -->
=======

<script>
var token = $('meta[name="csrf-token"]').attr('content');

$('#delete-btn').on('click', function(event) {
  event.preventDefault();
  debugger

  var options = {
    url: "/api/listings",
    method: 'delete',
    data: {
      listing_id: 24
      // change this
    }
  }
  var doneComment = function(response) {
    console.log('you have deleted this person as a helper')
  }
  $.ajax(options).done(doneComment);

});

</script>
>>>>>>> saving changes so that I can make pull request
>>>>>>> saving changes so that I can make pull request
