<h1 class="page-title">My Listings</h1>
<div class="container">
  <div class="row">
    <% @my_listings.each do |listing | %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 delete-content">
          <a href="#"><img class="card-img-top" src="<%= listing.image %>" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
                   <a href="/listings/<%= listing.id %>"><%= listing.title %></a>
                  </h4>
            <h5>$<%= listing.price %></h5>
            <p class="card-text">
              <%=listing.description %>
            </p>
          </div>
          <div class="card-footer">

            <% listing.tags.each do |tag| %>
              <div><i class="fa fa-tags" aria-hidden="true"></i>
                <%=tag.name %>
              </div>
            <% end %>

          </div>
          <button style="background:darkgrey;width:100%;margin:0;" type="button" class="btn btn-info btn-dark delete delete-listing-btn" data-listing-id="<%= listing.id %>">DELETE MY LISTING</button>
          <a href="/listings/<%= listing.id %>/edit" class="btn btn-info btn-dark" role="button">EDIT</a>
        </div>
      </div>
<!--Buttons-->


<% end %>

</div>
  <!-- /.row -->
</div>
<!-- /container -->

<div>
  <hr>
</div>

<h1 class="page-title">I am helping with</h1>
<div class="container">
  <div class="row">
    <% @listings_helping.each do |listing | %>

      <div class="col-lg-4 col-md-6 mb-4 delete-content">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="<%= listing.image %>" alt=""></a>

          <div class="card-body">
            <h4 class="card-title"><a href="/listings/<%= listing.id %>"><%= listing.title %></a></h4>
            <h5>$<%= listing.price %></h5>
            <p class="card-text"><%=listing.description %></p>
          </div>

          <div class="card-footer">
            <% listing.tags.each do |tag| %>
              <div><i class="fa fa-tags" aria-hidden="true"></i>
                <%= tag.name %>
              </div>
            <% end %>
          </div>

          <button style="background:darkgrey;width:100%;margin:0;" type="button" class="btn btn-info btn-dark delete delete-help-btn" data-listing-id="<%= listing.id %>">I CAN'T HELP ANYMORE</button>
          <a href="/listings/<%=listing.id %>/edit" class="btn btn-info btn-dark" role="button">EDIT</a>

        </div>
      </div>
<!--Buttons-->

<% end %>

<script>
var token = $('meta[name="csrf-token"]').attr('content');

$('.delete-listing-btn').on('click', function(event) {
  event.preventDefault();

  listing_id = $(event.target).data().listingId

  var options = {
    url: "/api/listings",
    method: 'delete',
    data: {
      listing_id: listing_id
    }
  }
  var doneComment = function(response) {
    console.log('you have deleted this listing')
    this_card = $(event.target).closest('.delete-content')
    this_card.remove()
  }
  $.ajax(options).done(doneComment);

});

$('.delete-help-btn').on('click', function(event) {
  event.preventDefault();

  listing_id = $(event.target).data().listingId

  var options = {
    url: "/api/user_listings",
    method: 'delete',
    data: {
      listing_id: listing_id
    }
  }
  var doneComment = function(response) {
    console.log('you have deleted this person as a helper')
    this_card = $(event.target).closest('.delete-content')
    this_card.remove()
  }
  $.ajax(options).done(doneComment);

});


</script>
